extends layout

block content
  .back
    a(href="/") Back to messages
  .form-container
    h1 Send a message
    form(action="/new" method="POST")
      .form-group
        .wrapper
          label(for="sender") Your name *
          span.help-block= senderErr
        input#sender(type="text" name="sender" value=sender)
      .form-group
        .wrapper
          label(for="text") Your message *
          span.help-block= textErr
        textarea#text(name="text" rows="5" cols="30")= text
      button(type="submit") Send message